body {
    text-align: center;
}
main {
    background-color: #2ECCFA;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}
h1 {
    color: #fff;
}
textarea {
    height: 110px;
    padding: 10px;
    border: 0 none;
}
.green {
    color: #088A08;
}
.yellow {
    color: #FACC2E;
}
.red{
    color: #B40404;
}